.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.attendance-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 130px auto 150px;
}

.attendance-condition__tag {
    border-radius: 50px;
    background-color: #c8c8c8;
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 15%;
    color: #696969;
}

.date {
    font-family: Inter;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #000000;
    margin: 20px 0;
}

.time {
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #000000;
    margin-bottom: 20px;
}

.button-box {
    display: flex;
    justify-content: space-between;
}

.submit-button,
.break-button {
    border-radius: 20px;
    width: 130px;
    height: 52px;
    margin: 30px 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 15%;
    text-align: center;
}

.submit-button {
    background-color: #000000;
    color: #ffffff;
}

.break-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.thanks-comment {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 15%;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}
